<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a (click)="onSelectedProducts()" class="clickable" >Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Products
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a (click)="onPromotedProducts()" class="clickable">Promotion</a></li>
          <li><a (click)="onAvailableProducts()"class="clickable" >Availables</a></li>
        </ul>
      </li>
      <li><a routerLink="/caddies">Caddy</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <li>
        <a> Caddy : {{caddyService.currentCaddyName}} | Products : {{caddyService.getCurrentCaddy().items.size}}</a>
      </li>
      <li>
        <a class="btn" (click)="onLogAuot()">
          <span class="glyphicon glyphicon-log-out"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="row">
  <div class="col-md-3">
    <ul class="list-group" *ngIf="categories">
      <li  (click)="getProductsByCat(c)" class="list-group-item clickable" *ngFor="let c of categories._embedded.categories" [ngClass]="currentCategorie == c?'active':''">
        {{c.name}}
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <router-outlet>

    </router-outlet>
  </div>
</div>
